//Slack Settings
String channel = "#channel_name";
String username = "bot_name";
String slack_path = "/services/XXXX/XXXXX";

//WiFi設定
const char* ssid = "YOUR_SSID";
const char* password = "YOUR_WIFI_PASSWORD";
